<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="nav">
    <h1 class="heading">My Posts</h1>
</div>


<div class="main">
    <%for(post of posts){%>
       
        <div class="post">
        <h3 class="user">Username : @<%=post.username%></h3>
        <h4 class="content">Content : <%=post.content%></h4>

        <div class="btns">
        <button class="vbtn"><a href="/posts/<%=post.id%>">View Post</a></button>
        <button class="ebtn"><a href="/posts/<%=post.id%>/edit">Edit Post</a></button>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button class="dbtn">Delete</button>
        </form>
        </div>
        
        </div>
        
    <%}%>
</div>
<br>

<div class="footer">
        <button class="fbtn"><a class="fabtn" href="http://localhost:8080/posts/form">Create New Posts</a></button>
</div>
</body>
</html>